name: Build gmpy2 for Android ARM64

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build gmpy2 for aarch64
        uses: uraimo/run-on-arch-action@v2
        with:
          arch: aarch64
          distro: ubuntu22.04
          
          install: |
            apt-get update -y
            apt-get install -y python3.11 python3.11-dev python3-pip gcc make libgmp-dev libmpfr-dev libmpc-dev tar
          
          run: |
            pip3.11 install --break-system-packages gmpy2
            cd /usr/local/lib/python3.11/dist-packages
            tar -czf /gmpy2-android.tar.gz gmpy2/
            mv /gmpy2-android.tar.gz ${GITHUB_WORKSPACE}/
      
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gmpy2-cp311-aarch64-android
          path: gmpy2-android.tar.gz
